#footer-container.wrapper.b
    %footer
        %center
            .menu Home
            .menu About
            .menu Advertise
            .menu Terms
            .menu Help
            .menu Contact