#nav-container.wrapper.clearfix.b
    %ul
        %li
            %center
                .all_my My:
                %a.pjax{:href => "/#{@user[:name]}/home"}
                    .my My
                    Net
        %li
            %center
                %a.posts{:href => "/#{@user[:name]}/posts"}
                    .my My
                    Posts
        %li
            %center
                %a.pjax{:href => "/#{@user[:name]}/tags"}
                    .my My
                    Tags
        %li
            %center
                %a.pjax{:href => "/#{@user[:name]}/prefs"} Preferences
        %li.login
            %center
                %a{:href => "/logout"}
                    Log Out