#nav-container.wrapper.clearfix.b
    %ul
        %li
            %center
                %a.home{:href => "/#{@user.name}/home"}
                    Home
        %li
            %center
                %a.tags{:href => "/boards"}
                    All Boards
        %li
            %center
                / .all_my My:
                %a.posts{:href => "/#{@user.name}/posts"}
                    .my My
                    Posts
        %li
            %center
                %a.tags{:href => "/#{@user.name}/net"}
                    .my My
                    Net
        %li.login
            %center.ib
                .prefs
                    %a.p1{:href => "/#{@user.name}/prefs"} Account
                    %a.p2{:href => "/logout"} Log Out