#nav-container.wrapper.clearfix.b
    %ul
        %li
            %a.pjax{:href => "/main"} My Net
        %li
            %a.pjax{:href => "/main"} My Posts
        %li
            %a.pjax{:href => "/main"} My Tags
        %li
            %a.pjax{:href => "/main"} Preferences
        %li.login
            - txt = "Log Out #{session[:user].capitalize}"
            %a.pjax{:href => "/logout"}= txt