#nav-container.wrapper.clearfix.b
    %ul
        %li
            %center
                %a.pjax.r4{:href => "/main"} My Net
        %li
            %center
                %a.pjax.r4{:href => "/main"} My Posts
        %li
            %center
                %a.pjax.r4{:href => "/main"} My Tags
        %li
            %center
                %a.pjax.r4{:href => "/main"} Preferences
        %li.login
            %center
                - txt = "Log Out #{session[:user].capitalize}"
                %a.pjax.r4{:href => "/logout"}= txt