#nav-container.wrapper.clearfix.b
    %ul
        %li
            %center
                .all_my My:
                %a.pjax{:href => "/home"}
                    .my My
                    Net
        %li
            %center
                %a.posts{:href => "#{@user[:name]}/posts"}
                    .my My
                    Posts
        %li
            %center
                %a.pjax{:href => "/#main"}
                    .my My
                    Tags
        %li
            %center
                %a.pjax{:href => "/#main"} Preferences
        %li.login
            %center
                %a{:href => "/logout"}
                    Log Out