#nav-container.wrapper.clearfix.b
    %ul
        %li
            %center
                .all_my My:
                %a.pjax{:href => "/home"}
                    .my My
                    Net
        %li
            %center
                %a.pjax{:href => "/#posts"}
                    .my My
                    Posts
        %li
            %center
                %a.pjax{:href => "/#main"}
                    .my My
                    Tags
        %li
            %center
                %a.pjax{:href => "/#main"} Preferences
        %li.login
            %center
                %a.icon{:href => "/logout"}
                    %img{src: "/img/logout.png"}
                %a.wrd{:href => "/logout"}
                    .my Log Out