#nav-container.wrapper.clearfix.b
    %ul
        %li
            %center
                %a.pjax{:href => "/main"}
                    
                    Net
        %li
            %center
                %a.pjax{:href => "/main"}
                    .my My
                    Posts
        %li
            %center
                %a.pjax{:href => "/main"}
                    .my My
                    Tags
        %li
            %center
                %a.pjax{:href => "/main"} Preferences
        %li.login
            %center
                - txt = "Log Out #{session[:user].capitalize}"
                %a.pjax{:href => "/logout"}= txt