#header-container
    %header.wrapper.clearfix
        %h1#title
            %a{:href => "index.html"} CollegEbook
        %nav
            %a.college_logo{:href => "http://web.mit.edu/"}
                %img{:src => "http://web.mit.edu/graphicidentity/interface/mit-greywhite-header3.gif", :alt => "MIT", :width => "81", :height => "46", :border => "0"}/
    .space &nbsp;
    
#main-container
    #main.wrapper.clearfix{:role => "main"}



        #splash.main_column.r8
            %h2 Log In or Sign Up
            %input{:type => "text", :value => "anything"}
            .btn.r4.ib
                %a{:href => "main.html"} Go!


#footer-container
    %footer.wrapper
        #menu_wrapper
            %center
                .ib.menu Home
                .ib.menu About
                .ib.menu Advertising
                .ib.menu Terms
                .ib.menu Help
                .ib.menu Contact Us

%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
%script{:src => "js/scripts.js"}