= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}
    
    -# main
    #splash.r8
        %h2{:style => "margin:6px auto 10px auto;"} Log In or Sign Up
        %input{:type => "text", :value => "anything"}
        %a.btn.r4{:href => "main"} Go!

= haml(:'partials/_footer', :layout => false)