#header-container
    %header.wrapper.clearfix
        %h1#title
            %a{:href => "index.html"} CollegEbook
        %nav
            %a.college_logo{:href => "http://web.mit.edu/"}
                %img{:src => "http://web.mit.edu/graphicidentity/interface/mit-greywhite-header3.gif", :alt => "MIT", :width => "81", :height => "46", :border => "0"}/
    .space &nbsp;
