= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}
    
    -# main
    #main.r8
        #left.ib LEFT_one
        #middle.ib MIDDLE_one
        #right.ib RIGHT_one

= haml(:'partials/_footer', :layout => false)