= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}
    .net-container{style: "padding:20px;"}
        %h2 "My Net"
    
= haml(:'partials/_footer', :layout => false)