/* Google fonts  */
@import url(http://fonts.googleapis.com/css?family=Economica|Fredericka+the+Great|Neucha|Ubuntu+Condensed|Annie+Use+Your+Telescope|Covered+By+Your+Grace);

@import "boilerplate";

/**
 * Primary styles
 *
 * Author: Dan Haber
 */

$lt-blu: #069;
$dk-blu: #037;
$tr-blu: transparentize($dk-blu, 0.8);
$tr-br-blu: transparentize($dk-blu, 0.5);
$bl-red: #379;
$link-color: #aef;
$top-space: 70px;

body{background-color:$lt-blu;}
#header-container{height:$top-space;position:fixed;border-bottom:1px solid darken($dk-blu, 10%);background-color:$dk-blu;z-index:99;
    .college_logo{position:absolute;top:0.8em;right:1.8em;
        img{border:0;width:81px;height:46px;}
    }
    h1#title{font-family:'Annie Use Your Telescope',cursive;font-size:30pt;margin-left:0.6em;margin-top:0.3em;
        a{color:#ddd;}
    }
}

#nav-container{position:fixed;z-index:98;top:$top-space;background-color:$bl-red;border-bottom:1px solid darken($bl-red, 10%);
    ul{display:block;position:relative;}
    a{display:inline-block;height:100%;width:100%;border:1px solid darken($bl-red, 20%);background-color:$tr-blu;}

    @media screen and (max-width : 499px) {
        ul{left:5px;
            li{display:inline-block;list-style:none;margin:0 0.4em;
                a{display:inline-block;font-size:10pt;border-radius:2px;border-bottom:0;border-top:0;margin:0;padding:0.3em 0.3em 0 0.3em;background-color:$bl-red;}
                .my{display:none;}
                .all_my{font-size:11pt;display:inline-block;position:absolute;left:-1.8em;top:0.2em;color:#ddd;}
                a.icon{display:inline-block;position:relative;top:-0.1em;
                    img{width:1.8em;height:1.8em;position:relative;top:0;}
                }
                &.login{float:right;margin-right:1em;
//                    center{display:inline;}
                    a.wrd{display:none;}
                }
            }
        }
    }/*@media screen and (max-device-width : 499px) {
        ul{left:5px;
            li{display:inline-block;list-style:none;margin:0 0.4em;
                a{display:inline-block;font-size:10pt;border-radius:2px;border-bottom:0;border-top:0;margin:0;padding:0.3em 0.3em 0 0.3em;background-color:$bl-red;}
                .my{display:none;}
                .all_my{font-size:11pt;display:inline-block;position:absolute;left:-1.8em;top:0.2em;color:#ddd;}
                a.icon{display:inline-block;position:relative;top:-0.1em;
                    img{width:1.8em;height:1.8em;position:relative;top:0;}
                }
                &.login{float:right;margin-right:1em;
//                    center{display:inline;}
                    a.wrd{display:none;}
                }
            }
        }
    }*/
    
    @media screen and (min-width : 500px) {
        ul{left:-10px;
            li{display:inline-block;list-style:none;margin:0 3px;padding:0;
                a{font-size:12pt;border-radius:4px;margin:0 0.2em;padding:0.2em;}
                .my{display:inline;}
                .all_my{display:none;}
                .log_my{display:none;}
                &.login{float:right;margin-right:1em;}
            }
        }
    }/*@media screen and (min-device-width : 500px) {
        ul{left:-10px;
            li{display:inline-block;list-style:none;margin:0 3px;padding:0;
                a{font-size:12pt;border-radius:4px;margin:0 0.2em;padding:0.2em;}
                .my{display:inline;}
                .all_my{display:none;}
                .log_my{display:none;}
                &.login{float:right;margin-right:1em;}
            }
        }
    }*/
}

#main-container{position:relative;top:$top-space+50px;padding-bottom:$top-space;
	.column{vertical-align:top;margin-bottom:8px;height:100%;background-color:$tr-blu;padding:1em;border-radius:1em;}
    #main{}
    ul{list-style:none;}
    .feed_item{background-color:$tr-blu;}

    @media screen and (max-width : 499px) {
        #left{display:block;
            h3{float:left;}
            .user_image{float:left;}
            .box{padding:2px;margin:1px;border:1px dotted $tr-br-blu;}
            pre{text-align:left;}
        }
    }/*@media screen and (max-device-width : 499px) {
        #left{display:block;
            h3{float:left;}
            .user_image{float:left;}
            .box{padding:2px;margin:1px;border:1px dotted $tr-br-blu;}
            pre{text-align:left;}
        }
    }*/
    
    @media screen and (min-width : 500px) and (max-width : 760px) {
        #left{float:left;width:19%;display:inline-block;
            h3{float:left;}
            .user_image{float:left;}
            .box{padding:2px;margin:1px;border:1px dashed $tr-br-blu;}
            pre{text-align:left;}
        }
    }/*@media screen and (min-device-width : 500px) and (max-device-width : 760px) {
        #left{float:left;width:19%;display:inline-block;
            h3{float:left;}
            .user_image{float:left;}
            .box{padding:2px;margin:1px;border:1px dashed $tr-br-blu;}
            pre{text-align:left;}
        }
    }*/

    @media screen and (min-width : 761px) {
        #left{float:left;width:14%;margin-left:6px;display:inline-block;
            h3{float:left;}
            .user_image{float:left;}
            .box{padding:2px;margin:1px;border:1px solid $tr-br-blu;}
            pre{text-align:left;}
        }        
    }/*@media screen and (min-device-width : 761px) {
        #left{float:left;width:12%;margin-left:8px;display:inline-block;
            h3{float:left;}
            .user_image{float:left;}
            .box{padding:2px;margin:1px;border:1px solid $tr-br-blu;}
            pre{text-align:left;}
        }        
    }*/



    @media screen and (max-width : 499px) {
        #middle{display:block;}
    }/*@media screen and (max-device-width : 499px) {
        #middle{display:block;}
    }*/

    @media screen and (min-width : 500px) and (max-width : 760px) {
        #middle{width:70%;float:right;display:inline-block;}
    }/*@media screen and (min-device-width : 500px) and (max-devicewidth : 760px) {
        #middle{width:70%;float:right;display:inline-block;}
    }*/
    
    @media screen and (min-width : 761px) {
        #middle{width:63%;display:inline-block;position:absolute;margin-left:19%;}
    }/*@media screen and (min-device-width : 761px) {
        #middle{width:60%;display:inline-block;}
    }*/
    
    
    
    @media screen and (max-width : 499px) {
        #right{display:block;}
    }/*@media screen and (max-device-width : 499px) {
        #right{display:block;}
    }*/
    
    @media screen and (min-width : 500px) and (max-width : 760px) {
        #right{float:left;width:19%;display:inline-block;}
    }/*@media screen and (min-device-width : 500px) and (max-device-width : 760px) {
        #right{float:left;width:19%;display:inline-block;}
    }*/
    
    @media screen and (min-width : 761px) {
        #right{display:inline-block;float:right;width:13%;margin-right:8px;vertical-align:top;}
    }/*@media screen and (min-device-width : 761px) {
        #right{display:inline-block;float:right;width:12%;margin-right:8px;}
    }*/
    
}

#footer-container{position:fixed;bottom:0;background-color:$dk-blu;
    footer{width:100%;
//        .menu{background-color:transparentize($bl-red, 0.5);padding:3px;display:inline-block;margin-bottom:3px;}
        @media screen and (max-width : 499px) {
            .menu{background-color:transparentize($bl-red, 0.5);padding:1px 3px;display:inline-block;margin-bottom:3px;}
        }
        @media screen and (min-width : 500px) and (max-width : 760px) {
            .menu{background-color:transparentize($bl-red, 0.5);padding:2px 3px;display:inline-block;margin-bottom:3px;}
        }
        @media screen and (min-width : 761px) {
            .menu{background-color:transparentize($bl-red, 0.5);padding:3px 5px;display:inline-block;margin-bottom:3px;}
        }
    }
}

//#tag_wrapper{float:right;margin-right:12%;background-color:#004466;padding:10px;border:1px solid #224455;}
#splash{position:relative;width:60%;min-height:80px;max-height:50%;margin-left:auto;margin-right:auto;border:1px solid $tr-br-blu;background-color:$tr-blu;padding:8px;text-align:center;
    form{margin:5px 10px;vertical-align:top;}
    fieldset{border:1px solid $tr-br-blu;padding:5px;background-color:$tr-blu;}
    legend{padding:5px;font-size:12pt;}
}
.h{height:100%;}
.b{display:block;width:100%;}
.ib{display:inline-block;}
.r4{border-radius:4px;}
.r8{border-radius:8px;}
.btn{background-color:#888;padding:3px;}
.btn:hover{background-color:#eee;}

@media screen and (max-width : 760px) {
	.tag{background-color:#445588;padding:4px;}
	.post{background-color:$tr-blu;border:1px solid $tr-br-blu;padding:5px;margin-bottom:1em;width:95%;}
}
@media screen and (min-width : 761px) {
	.tag{background-color:#445588;padding:4px;}
	.post{background-color:$tr-blu;border:1px solid $tr-br-blu;padding:5px;margin-bottom:1em;width:50%;}
}

h2{font-size:14pt;color:#aaa;margin-left:1px;margin-bottom:5px;}

a, a:visited{color:$link-color;}
a:hover{color:#fee;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@import "helpers";