/* Google fonts  */
@import url(http://fonts.googleapis.com/css?family=Economica|Fredericka+the+Great|Neucha|Ubuntu+Condensed|Annie+Use+Your+Telescope|Covered+By+Your+Grace);

@import "boilerplate";

/**
 * Primary styles
 *
 * Author: Dan Haber
 */

$lt-blu: #069;
$dk-blu: #037;
$tr-blu: transparentize($dk-blu, 0.8);
$tr-br-blu: transparentize($dk-blu, 0.5);
$bl-red: #379;
$top-space: 70px;

body{background-color:$lt-blu;}
#header-container{height:$top-space;position:fixed;border-bottom:1px solid darken($dk-blu, 10%);background-color:$dk-blu;z-index:99;}
#nav-container{position:fixed;z-index:98;top:$top-space;background-color:$bl-red;border-bottom:1px solid darken($bl-red, 10%);
    ul{display:block;position:relative;left:-10px;}
    li{display:inline-block;list-style:none;margin: 0 0.5em 0 0.5em;
        a{background-color:darken($bl-red, 10%);border:1px solid darken($bl-red, 20%);display:inline-block;height:100%;width:100%;font-size:11pt;padding:0.3em;}
        &.login{float:right;margin-right:3em;}
        @media only screen and (max-width : 320px) {
            a{display:inline;}
        }
    }
}
#main-container{position:relative;top:$top-space+50px;
	.column{vertical-align:top;margin-bottom:8px;height:100%;background-color:$tr-blu;padding:1em;
//		.b{min-width:300px;max-width:100%;}
	}
    #main{}
    #left{float:left;width:20%;
//	width:25%;background-color:$tr-blu;padding:1em;float:left;
	}
    #middle{width:50%;margin-left:auto;margin-right:auto;
//	width:40%;background-color:$tr-blu;padding:1em;
//		.feed_item{width:28em;}
	}
    #right{float:right;width:20%;
//	width:25%;background-color:$tr-blu;padding:1em;float:right;
	}
    ul{list-style:none;}
}
#footer-container{position:fixed;bottom:0;background-color:$dk-blu;}
footer{width:100%;}
#tag_wrapper{float:right;margin-right:12%;background-color:#004466;padding:10px;border:1px solid #224455;}
#splash{position:relative;width:60%;min-height:80px;max-height:50%;margin-left:auto;margin-right:auto;border:1px solid $tr-br-blu;background-color:$tr-blu;padding:8px;text-align:center;
    form{margin:5px 10px;vertical-align:top;}
    fieldset{border:1px solid $tr-br-blu;padding:5px;background-color:$tr-blu;}
    legend{padding:5px;font-size:12pt;}
}
.h{height:100%;}
.b{display:block;width:100%;}
.ib{display:inline-block;}
.r4{border-radius:4px;}
.r8{border-radius:8px;}
.btn{background-color:#888;padding:3px;}
.btn:hover{background-color:#eee;}
.menu{background-color:transparentize($bl-red, 0.5);padding:3px;display:inline-block;margin-bottom:3px;}
.tag{background-color:#445588;padding:4px;}
.post{background-color:#aaaaee;border:1px solid #22a;padding:5px;}
.college_logo{position:absolute;top:0.8em;right:1.8em;
    img{border:0;width:81px;height:46px;}}

h1#title{font-family:'Annie Use Your Telescope',cursive;font-size:30pt;margin-left:0.6em;margin-top:0.3em;
    a{color:#ddd;}}
h2{font-size:18pt;color:#aaa;margin-left:1px;margin-bottom:5px;}

a, a:visited{color:#aef;}
a:hover{color:#fee;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@import "helpers";