@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Economica|Fredericka+the+Great|Neucha|Ubuntu+Condensed|Annie+Use+Your+Telescope|Covered+By+Your+Grace);
/* Google fonts  */
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* Hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
  text-decoration: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #111;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #4050ff;
  text-decoration: none; }

a:hover {
  color: #036; }

/**
 * Primary styles
 *
 * Author: Dan Haber
 */
body {
  background-color: #006699; }

#header-container {
  height: 70px;
  position: fixed;
  border-bottom: 1px solid #001d44;
  background-color: #003377;
  z-index: 99; }
  #header-container .college_logo {
    position: absolute;
    top: 0.8em;
    right: 1.8em; }
    #header-container .college_logo img {
      border: 0;
      width: 81px;
      height: 46px; }
  #header-container h1#title {
    font-family: 'Annie Use Your Telescope',cursive;
    font-size: 30pt;
    margin-left: 0.6em;
    margin-top: 0.3em; }
    #header-container h1#title a {
      color: #ddd; }

#nav-container {
  position: fixed;
  z-index: 98;
  top: 70px;
  background-color: #337799;
  border-bottom: 1px solid #265973; }
  #nav-container ul {
    display: block;
    position: relative;
    left: -10px; }
  #nav-container li {
    display: inline-block;
    list-style: none;
    margin: 0 0.5em 0 0.5em; }
    #nav-container li a {
      background-color: #265973;
      border: 1px solid #193b4d;
      border-radius: 2px;
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 11pt;
      padding: 0.3em; }
    #nav-container li.login {
      float: right;
      margin-right: 3em; }
    #nav-container li .my {
      display: inline; }
  @media only screen and (max-width : 499px) {
    #nav-container li {
      margin: 0 3px;
      padding: 0; }
      #nav-container li a {
        border: none;
        background-color: rgba(0, 51, 119, 0.2);
        font-size: 9pt;
        border-radius: 0;
        margin: 0; }
      #nav-container li .my {
        display: none; }
      #nav-container li.login {
        float: right;
        margin-right: 1em; } }

#main-container {
  position: relative;
  top: 120px;
  padding-bottom: 70px; }
  #main-container .column {
    vertical-align: top;
    margin-bottom: 8px;
    height: 100%;
    background-color: rgba(0, 51, 119, 0.2);
    padding: 1em; }
  #main-container ul {
    list-style: none; }
  @media screen and (max-width : 499px) {
    #main-container #left {
      width: 100%; }
      #main-container #left h3 {
        float: left; }
      #main-container #left .user_image {
        float: left; }
      #main-container #left .box {
        padding: 2px;
        margin: 1px;
        border: 1px dotted rgba(0, 51, 119, 0.5); }
      #main-container #left pre {
        text-align: left; } }
  @media screen and (min-width : 500px) and (max-width : 760px) {
    #main-container #left {
      float: left;
      width: 20%; }
      #main-container #left h3 {
        float: left; }
      #main-container #left .user_image {
        float: left; }
      #main-container #left .box {
        padding: 2px;
        margin: 1px;
        border: 1px dashed rgba(0, 51, 119, 0.5); }
      #main-container #left pre {
        text-align: left; } }
  @media screen and (min-width : 761px) {
    #main-container #left {
      float: left;
      width: 15%;
      margin-left: 8px; }
      #main-container #left h3 {
        float: left; }
      #main-container #left .user_image {
        float: left; }
      #main-container #left .box {
        padding: 2px;
        margin: 1px;
        border: 1px solid rgba(0, 51, 119, 0.5); }
      #main-container #left pre {
        text-align: left; } }
  @media screen and (max-width : 499px) {
    #main-container #middle {
      width: 100%; } }
  @media screen and (min-width : 500px) and (max-width : 760px) {
    #main-container #middle {
      width: 70%;
      float: right; } }
  @media screen and (min-width : 761px) {
    #main-container #middle {
      width: 60%; } }
  @media screen and (max-width : 499px) {
    #main-container #right {
      width: 100%; } }
  @media screen and (min-width : 500px) and (max-width : 760px) {
    #main-container #right {
      float: left;
      width: 20%; } }
  @media screen and (min-width : 761px) {
    #main-container #right {
      float: right;
      width: 10%;
      margin-right: 8px; } }

#footer-container {
  position: fixed;
  bottom: 0;
  background-color: #003377; }
  #footer-container footer {
    width: 100%; }
    @media screen and (max-width : 499px) {
      #footer-container footer .menu {
        background-color: rgba(51, 119, 153, 0.5);
        padding: 1px 3px;
        display: inline-block;
        margin-bottom: 3px; } }
    @media screen and (min-width : 500px) and (max-width : 760px) {
      #footer-container footer .menu {
        background-color: rgba(51, 119, 153, 0.5);
        padding: 2px 3px;
        display: inline-block;
        margin-bottom: 3px; } }
    @media screen and (min-width : 761px) {
      #footer-container footer .menu {
        background-color: rgba(51, 119, 153, 0.5);
        padding: 3px 5px;
        display: inline-block;
        margin-bottom: 3px; } }

#splash {
  position: relative;
  width: 60%;
  min-height: 80px;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 51, 119, 0.5);
  background-color: rgba(0, 51, 119, 0.2);
  padding: 8px;
  text-align: center; }
  #splash form {
    margin: 5px 10px;
    vertical-align: top; }
  #splash fieldset {
    border: 1px solid rgba(0, 51, 119, 0.5);
    padding: 5px;
    background-color: rgba(0, 51, 119, 0.2); }
  #splash legend {
    padding: 5px;
    font-size: 12pt; }

.h {
  height: 100%; }

.b {
  display: block;
  width: 100%; }

.ib {
  display: inline-block; }

.r4 {
  border-radius: 4px; }

.r8 {
  border-radius: 8px; }

.btn {
  background-color: #888;
  padding: 3px; }

.btn:hover {
  background-color: #eee; }

.tag {
  background-color: #445588;
  padding: 4px; }

.post {
  background-color: #aaaaee;
  border: 1px solid #22a;
  padding: 5px; }

h2 {
  font-size: 14pt;
  color: #aaa;
  margin-left: 1px;
  margin-bottom: 5px; }

a, a:visited {
  color: #aef; }

a:hover {
  color: #fee; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */ }
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
