%h2= @user.name.capitalize
%br/
%br/
%center
    %img.user_image{src: "img/blank-user.gif"}

.box.ib
    %p="Member since \n#{@user.created_at}"
    %br/
    %h3.b User bio:
    %p.bio.r4= @user.bio
    
.box.ib
    %p (class of 2014)
    %h4.b Courses:
    %ul
        %li Math 1A
        %li Physics 99Z

/ .box.ib
/     %h4.b Interests:
/     %ul
/         %li soccer
/         %li dancing
/         %li travel

/ .box.ib
/     %h4 My net
/ 
/     Parties
/     %br/
/     Spain@MIT
/     %br/
/     Course 2
/     %br/
/     Varsity
/     %br/
/     Culture
/     %br/

/ .box.ib
/     %h4 My posts
/ 
/     %code
/         Total:       24
/     %br/
/     %code
/         New replies: 8
/     %br/