= haml(:'partials/_header', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}
    
    -##############################################
    #splash.r8
        %h2{:style => "margin:6px auto 10px auto;"}
        
        = haml(:'partials/_login_form', :layout => false)
        
        = haml(:'partials/_signup_form', :layout => false)

= haml(:'partials/_footer', :layout => false)