/ %h3 My Self
%br/
%img{:src => "img/blank-user.gif"}
%br/
%pre
    %code
        06/04/1992
        Philadelphia, PA
        Course: 2A
        Class:  2014

%h4 Interests:

soccer,
%br/
dancing,
%br/
travel
%br/

%h4 My net

Parties
%br/
Spain@MIT
%br/
Course 2
%br/
Varsity
%br/
Culture
%br/

%h4 My posts

%code
    Total:       24
%br/
%code
    New replies: 8
%br/

%h4 Preferences

Email forwarding