%h3.heading= @name
%br/
%img.user_image{src: "img/blank-user.gif"}

.box.ib
    %ul
        %li 06/04/1992
        %li Philadelphia, PA
        %li Course: 2A
        %li Class:  2014

.box.ib
    %h4 Interests:

    soccer,
    %br/
    dancing,
    %br/
    travel
    %br/

.box.ib
    %h4 My net

    Parties
    %br/
    Spain@MIT
    %br/
    Course 2
    %br/
    Varsity
    %br/
    Culture
    %br/

.box.ib
    %h4 My posts

    %code
        Total:       24
    %br/
    %code
        New replies: 8
    %br/

.box.ib
    %h4 Preferences

    Email forwarding