%h2= @user.name.capitalize
%br/
%br/
%img.user_image{src: "img/blank-user.gif"}

.box.ib
    %h3.b User bio:
    %h4="Member since #{@user.created_at}."
    %br/
    %p= @user.bio
    
.box.ib
    %h4.b Courses:
    %ul
        %li Math 2A
        %li Physics 99Z
    %h6 (class of 2014)

.box.ib
    %h4.b Interests:
    %ul
        %li soccer
        %li dancing
        %li travel

/ .box.ib
/     %h4 My net
/ 
/     Parties
/     %br/
/     Spain@MIT
/     %br/
/     Course 2
/     %br/
/     Varsity
/     %br/
/     Culture
/     %br/

/ .box.ib
/     %h4 My posts
/ 
/     %code
/         Total:       24
/     %br/
/     %code
/         New replies: 8
/     %br/