.feed_haml
    .feed_posts
        - @posts.reverse.each do |p|
            .feed_item{style: "border:1px dotted blue;padding:1em;width:75%;margin-bottom:2em;"}
                = haml :'partials/_post', :locals => {:p => p, :comments => p.post_comments}