#footer-container.wrapper.b
    %footer
        %center
            .menu.r4 Home
            .menu.r4 About
            .menu.r4 Advertise
            .menu.r4 Terms
            .menu.r4 Help
            .menu.r4 Contact