#header-container.wrapper.clearfix.b
    %header
        %h1#title
            %a{:href => "/"} CollegEbook
            -# %a{:href => "/"} -
        %nav
            %a.college_logo{:href => "http://web.mit.edu/"}
                %img{:src => "img/cached_logo-mit.gif", :alt => "MIT"}/
            -# %p{:style => "position:relative; top:-5px; left:10em;"}= Time.now.strftime("Debug: load@ %Y/%m/%d %H:%M:%S")
    - if session[:stat]
        - if session[:stat][:status] == true
            - color = "green"
        - else
            - color = "red"
        %p.status{style: "color:black;position:relative;top:3em;background-color:#{color};margin:0 auto;width:20em;"}= session[:stat][:msg]
        - session[:stat] = nil