/* Google fonts  */
@import url(http://fonts.googleapis.com/css?family=Economica|Fredericka+the+Great|Neucha|Ubuntu+Condensed|Annie+Use+Your+Telescope|Covered+By+Your+Grace);

@import "boilerplate";

/**
 * Primary styles
 *
 * Author: Dan Haber
 */

$dk-blu: #069;
$ot-blu: #036;

body{background-color:$dk-blu;}
div{display:block;}
#header-container{height:80px;position:fixed;display:block;width:100%;border-bottom:1px dotted black;background-color:$ot-blu;}
#main{width:800px;background-color:#004466;margin-left:auto;margin-right:auto;padding:10px;}
#menu_wrapper{position:fixed;bottom:0;background-color:#004477;margin-left:auto;margin-right:auto;width:100%;}
#tag_wrapper{float:right;margin-right:12%;background-color:#004466;padding:10px;border:1px solid #224455;}
#splash{width:60%;margin-left:auto;margin-right:auto;}
.space{height:150px;border-bottom:1px solid red;}
.r4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.r8{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.btn{background-color:#888;padding:4px;}
.btn:hover{background-color:#eee;}
.menu{background-color:#556688;padding:3px;}
.tag{background-color:#445588;padding:4px;}
.post{background-color:#aaaaee;border:1px solid #22a;padding:5px;}
.college_logo{position:absolute;top:20px;right:80px;}
.login{float:right;border:1px dotted black;padding:4px;position:relative;top:1px;right:80px;color:black;background-color:#006699;width:80px;text-align:center;}
h1#title{font-family:'Annie Use Your Telescope',cursive;font-size:28pt;margin-left:50px;margin-top:25px;}
h1#title a{color:#aaaaaa;}
h2{font-size:18pt;color:#aaa;margin-left:1px;margin-bottom:5px;}


@import "helpers";